*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
  position: relative;
    min-height: 100vh;
    background-image:linear-gradient(rgba(24, 25, 24, 0.412), rgba(19, 19, 19, 0.462)),url("images/MENT.jpg");
    background-size: cover;
    background-color:#9CFF2E;
  }
  a {
      background: none;
      padding: 15px;
      padding-right:0%;
      letter-spacing: 3px;
      text-align: center;
      text-transform: capitalize;
      color: #f8f9fa;
      display: inline;
      text-decoration: none;
      transition: 0.5s;
      font-weight: 400;
      font-weight: bold;
      font-size: medium;
  }
  
  

.na:hover {
  color: #3712bd;
}

.logo{
  position: fixed;
    padding: 15px;
}
.space{
  padding-left: 50%;
  width: 100vw;
  position: fixed;
  right: 2rem;
  display: flex;
  justify-content: space-evenly;
  
}
.title{
    color: #1389fe;
    display: flex;
    align-items: center;
    justify-content: center;
}
.t1{
    padding-top: 230px;
}
.line{
    height: 0.5rem;
    background: linear-gradient(
      to left,
      #2192FF,
      #38E54D,
      #9CFF2E,
      #FDFF00,
      #2192FF
    );
  }
  .compro{
    background: #E0E5EC;
    display: inline-flex;
    width:100%;
    height: 30rem;

  
    }
/* 
 <!-- services --> */
 .ser{
  background-color: #5BBCFF;
 }

.icon{
  padding: 10px;
  height: 75px;
  width: 75px;
  font-size: 10px;

}
.menu{
  z-index: -1;
  position: relative;
  min-height: 70vh;
  background-image:linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)),url("images/MENT.jpg");
  background-size: cover;
  background-attachment: fixed;
 
}
#mt{
  padding-top: 50px;
  color: #ffffff;
}
#mt1{
  padding-top: 20px;
  color: white;
  padding-bottom: 50px;
}

.mh{
  width: 100%;
  height: 41px;
  padding-top:2.5%;
}
hr{
  margin-top: 10px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eee;
  border-color: black;
}

.contact_section {
  width: 100%;
  float: left;
}

.contact_taital {
  width: 100%;
  float: left;
  font-size: 40px;
  color: #333333;
  padding-left: 100px;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
}

.contact_section_2 {
  width: 100%;
  float: left;
  padding-top: 20px;
  padding-bottom: 90px;
}

.mail_section_1 {
  width: 100%;
  float: left;
  padding-left: 85px;
  padding-top: 30px;
}

.mail_text {
  width: 100%;
  float: left;
  font-size: 16px;
  color: #c5c8c7;
  border: 0px;
  background-color: transparent;
  padding: 8px 15px;
  margin-bottom: 40px;
  box-shadow: 0px 0px 10px 0px #cfcfcf;
}

input.mail_text::placeholder {
  color: #c5c8c7;
}

.massage-bt {
  color: #c5c8c7;
  width: 100%;
  height: 110px;
  font-size: 18px;
  background-color: transparent;
  padding: 40px 15px 0px 15px;
  border: 0px;
  box-shadow: 0px 0px 10px 0px #cfcfcf;
}

textarea#comment.massage-bt::placeholder {
  color: #c5c8c7;
}

.send_bt {
  width: 170px;
  float: left;
}

.send_bt a {
  width: 100%;
  text-align: center;
  font-size: 18px;
  color: #ffffff;
  background-color: #fda417;
  padding: 12px;
  text-transform: uppercase;
  margin-top: 30px;
  display: block;
  font-weight: bold;
  border-radius: 40px;
}

.send_bt a:hover {
  color: #ffffff;
  background-color: #252525;
}

.contact_img {
  width: 100%;
  float: left;
}

.padding_left_15 {
  padding-right: 0px;
}


/* contact section end */


/* footer section start */

.footer_section {
  width: 100%;
  float: left;
  background-color: #1f1f1f;
  height: auto;
  padding-bottom: 50px;
}

.footer_section_2 {
  width: 100%;
  float: left;
}

.useful_text {
  width: 100%;
  font-size: 24px;
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
}
